
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

.navbar-brand{
    font-family: 'Akaya Telivigala', cursive; 
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: aliceblue;
    font-family: 'Akaya Telivigala', cursive;
  }
  tr,th{
      text-align: center;
      font-size: larger;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    font-family: 'Akaya Telivigala', cursive;
    font-size: large;
  }
  
  tr:nth-child(even) {
    background-color: rgb(123, 168, 252);
    font-family: 'Akaya Telivigala', cursive;
    font-size: large;
  }
  .fas{
      color:red;
  }
  .Welcome
    h1{
      text-align: center;
      margin-top: 15%;
      margin-left: 35%;
      font-size: 60px;
      font-family: 'Akaya Telivigala', cursive;
  }
  .Welcome
    p{
        text-align: center;
        margin-left: 36%;
        font-size: x-large;
        font-family: 'Akaya Telivigala', cursive;
    }
    .btn3{
     float: right;
     margin-right:22%;
     margin-top: 150px;
     border-radius: 12px;
     padding: 12px;
     width: 120px;
     box-shadow: 0px 5px 0 #226fbb;
     font-family: 'Akaya Telivigala', cursive;

     }
     .btn2{
        float: left;
        margin-left:58%;
        margin-top: 150px;
        border-radius: 12px;
        padding: 12px;
        width: 120px;
        box-shadow: 0px 5px 0 #226fbb;
        font-family: 'Akaya Telivigala', cursive;
   
        }
        .btn1{
            float: left;
            margin-left:62%;
            margin-top: 150px;
            border-radius: 12px;
            padding: 12px;
            width: 230px;
            box-shadow: 0px 5px 0 #226fbb;
            font-family: 'Akaya Telivigala', cursive;
        }
     .anti{
      background-image: url('https://media.istockphoto.com/illustrations/user-profile-icon-glassy-modern-blue-button-abstract-background-illustration-id1200200944?k=20&m=1200200944&s=170667a&w=0&h=cUV-DqDkwbKrLdEGimsI9LPkfkcuob28kkRF-sdFYMU=');
      background-repeat: no-repeat;
      background-size: cover;
     }
     /* //styling caron login */
     #container
      img{
          position:relative;
          margin-right: auto;
          margin-left: 26%;
      }
      .row p{
        font-size: larger;
        font-family: 'Akaya Telivigala', cursive;
        margin-bottom: -12px;
      }
      .row h1{
          text-align: center;
          font-family: 'Akaya Telivigala', cursive;
      }
      .col button{
          width:100%;  
          font-size: larger; 
          font-family: 'Akaya Telivigala', cursive;
      }
      .form-check-label{
        font-size: larger;
        font-family: 'Akaya Telivigala', cursive;
      }

    /* Styling list page */
      #pass{
        white-space: nowrap; 
        width: 5px; 
        overflow: hidden;
        text-overflow: clip; 
      }
  